version: '3.8'

#https://github.com/lkurzyniec/netcore-boilerplate init db example

services:
  eventdrive.worker.host:
    image: ${DOCKER_REGISTRY-}eventdriveworkerhost
    build:
      context: .
      dockerfile: Worker/EventDrive.Worker.Host/Dockerfile
    ports:
      - "5002:8080"
    restart: on-failure
    depends_on:
      - mssql
    links:
      - mssql
      - rabbitMq
      - redis
    networks: 
      - eventDrive-network

  eventdrive.api:
    image: ${DOCKER_REGISTRY-}eventdriveapi
    build:
      context: .
      dockerfile: WebApplication/Web/EventDrive.API/Dockerfile
    ports:
      - "5000:80"
      - "5001:443" # How to use HTTPS: https://tomssl.com/how-to-run-asp-net-core-3-1-over-https-in-docker-using-linux-containers/
    restart: on-failure
    links:
      - rabbitMq
      - redis
    networks: 
      - eventDrive-network

  mssql:
    container_name: mssql
    image: mcr.microsoft.com/mssql/server:2025-latest
    user: root
    command: /bin/bash ./entrypoint.sh    
    ports: 
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Str0ngP@ssw0rd123
    volumes: 
      - sqldata:/var/opt/mssql/data
      - ./db/mssql/docker-entrypoint.sh:/entrypoint.sh
      - ./db/mssql/docker-db-init.sh:/db-init.sh      
      - ./db/mssql/mssql-items.sql:/db-init.sql
    networks: 
      - eventDrive-network

  rabbitMq:
    container_name: rabbitMq
    image: rabbitmq:4.2.0-management
    ports:
      - "5672:5672"
      - "15672:15672"
    hostname: "rabbitmq"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq:/var/lib/rabbitmq/mnesia
    networks: 
      - eventDrive-network

  redis:
    container_name: redis
    image: "redis:alpine"
    hostname: redis
    ports:
      - "6379:6379"
    volumes:
      - $PWD/redis-data:/var/lib/redis
      - $PWD/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
    restart: on-failure
    networks: 
      - eventDrive-network

networks:
  eventDrive-network:

volumes:
  sqldata:
  rabbitmq:
  redis-data: